{
  "extends": "eslint:recommended",
  "ignorePatterns": ["MTLLoader.js", "OBJLoader.js", "jtest.js", "loading-bar.js", "three.min.js"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "no-console": "off"
  }
}
