3D
3D/3D.php
3D/Axe.dds
3D/Axe.mtl
3D/Axe.obj
3D/Axe.png
3D/bird.jpg
3D/bird.mtl
3D/bird.obj
3D/bird.png
3D/bird2.mtl
3D/crate0_bump.jpg
3D/crate0_diffuse.jpg
3D/crate0_normal.jpg
3D/demo.js
3D/GIF 12-01-2022 23-43-19.gif
3D/index.php
3D/MTLLoader.js
3D/OBJLoader.js
3D/three.min.js
