{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "semi": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 120,
        "semi": true
      }
    }
  ],
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
