body {
    cursor: url('images/cursor.png'), auto;
    width: fit-content;
    margin:1%;
}

::-webkit-scrollbar {
    width: 22px;
    height: 22px;
    opacity: 0.2;
}

::-webkit-scrollbar-thumb {
    background-image: url("images/scrollPicture.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px darkslategrey;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkslategrey;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px grey;
    opacity: 1;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 1%;
    /*width: 95%;*/
    border: 2px black solid;
    min-width: 300px;
    max-height: 450px;
    overflow-y: auto;
}

.pictures {
    width: 250px;
    margin: 2px 20px 10px 10px;
}

.icon {
    width: 45px;
    height: 45px;
    margin: 7px;
}

.container p {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 20px 0px 20px;
}

.header3D{
    display:flex;
    justify-content:space-between;
    margin-bottom:3px;
}
.select3D{
    position: absolute;
    left: 42%;
    font-size:20px;
    background-color: rgba(40, 40, 40, 0.7);
    border: 2px solid rgba(40, 40, 40, 1);
    padding:10px;
    border-radius: 0 0 20px 20px;
}

#loading{
    position: fixed;
    left:40%;
    top:12.5%;
}
#iconPic{
    position: fixed;
    left: 25%;
}

.loadingframe,
.ldBar {
    position: absolute;
    width: fit-content;
    top: 0px;
}

#alpaga,
#girl {
    display: none;
    z-index: 3;
    position: relative;
    top: 50px;
    left: -230px;
    object-fit: cover;
    height: 60px;
    object-position: 0% 0;
}

#girl {
    left: 227px;
}

.loading-container {
    position: relative;
    justify-content: center;
    width: 99%;
    display: flex;
    text-align: center;
}

a {
    color: wheat;
    text-decoration: none;
}

.dbMenu li {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    max-width: 250px;
    min-width: 250px;
    margin: 17px;
    border: none;
    border-radius: 2px;
    color: wheat;
    background-image: url('images/layout/layout_background.png');
    background-size: cover;
}

li img,
.iconImg {
    vertical-align: middle;
    margin: 5px;
    margin-top: 11px;
    display: inline;
    width: 50px;
    height: 50px;
}

.mapIcon {
    opacity: 0.7;
    width: 40px;
    height: 40px;
    float: right;
}

.mapIcon:hover {
    opacity: 1;
}

.continent {
    min-width: 700px;
    position: relative;
    text-align: center;
}

.point {
    position: absolute;
    width: 34px;
    height: 36px;
    border: none;
    background-image: url("images/mapIcon_1.png");
}

.point:hover {
    background-image: url("images/mapIcon_2.png");
    cursor: url('images/cursor_tp.png'), auto;
}

.point:hover .name {
    display: block;
}

.point .name {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
    display: none;
    background-image: none;
    background-color: rgba(40, 40, 40, 1);
    border: 2px grey solid;
    min-width: 80px;
    max-width: 250px;
    font-size: 16px;
    font-weight:normal;
    margin: 1px;
    color: wheat;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    width: 50px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 11/06/22 Ajout du menu */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    list-style: none;
    padding: 0px;
    margin-left:-15px;
    font-weight: bold;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
  }
  .menu li  a {
    display: inline-block;
    position: relative;
    color: rgb(246, 196, 104);
    text-decoration:none;
  }
  .menu li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(111, 111, 243, 0.61), rgba(236, 133, 236, 0.733));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (max-width: 700px) {
    .icon {
        width: 32px;
        margin: 4px;
    }
    h2{
        font-size: 16px;
    }
  }