.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 95%;
    border: 2px black solid;
}

.pictures {
    width: 250px;
    margin: 2px 20px 10px 10px;
}

.icon {
    width: 45px;
    margin: 7px;
}

.container p {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 20px 0px 20px;
}

.loadingframe,
.ldBar {
    position: absolute;
    width: fit-content;
    top: 0px;
}

#alpaga,
#girl {
    display: none;
    z-index: 3;
    position: relative;
    top: 50px;
    left: -230px;
    object-fit: cover;
    height: 60px;
    object-position: 0% 0;
}

#girl {
    left: 227px;
}

.loading-container {
    position: relative;
    justify-content: center;
    width: 99%;
    display: flex;
    text-align: center;
}

li {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    max-width: 250px;
    min-width: 250px;
    margin: 17px;
    border: none;
    border-radius: 2px;
    color: wheat;
    background-image: url('images/layout/layout_background.png');
    background-size: cover;
}

li img,
.iconImg {
    vertical-align: middle;
    margin: 5px;
    margin-top: 11px;
    display: inline;
    width: 50px;
    height: 50px;
}