body{
    overflow-x: hidden;
}

select{
    max-height: 26px;
}

input[type=text], input[type=number]{
    background-color: #333;
    color: wheat;
    border: 2px rgb(190,190,190,0.3) solid;
    margin: 2px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flexContainer{
    display: flex;
    width: 100%;
}
.topleft{
    display: inline-block;
    width: 48%;
    min-width: 100px;
    text-align: end;
    line-height: 2;
}

.topleft input[type=text]{
    width: 80px;
    margin :2px;
    padding:2px;
}

.topright{
    width: 48%;
    max-height: 250px;
}
.topright img{
    border: 2px black solid;
    /* width: 100%; */
    max-height: 270px;
    min-width:50px;
    min-height: 70px;
}

.stats{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stats input[type=text], .stats input[type=number]{
    width: 54px;
    height: 30px;
    font-size:20px;
    text-align: center;
    margin:auto;
}

.stat{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}

.skill{
    border: 1px gray solid;
    margin : 10px;
    margin-left: 2px;
    display: grid;
    width: 100%;
    grid-template-areas: "nom nom eff ico"  "mon mon mon ico";
}
.skill> .nom, .equipements div > .nom{
    grid-area: nom;
}
.skill> .effet, .equipements div > .effet{
    grid-area: eff;
}
.skill> .icone, .equipements div > .icone{
    grid-area: ico;
}
.skill> .montant, .equipements div > .montant{
    grid-area: mon;
}

.skill input[type=text]{
    width: 120px;
    margin :2px;
    padding:2px;
}

.skill p{
    font-size: 16px;
    margin: 2px;
    padding-right: 4px;
    border-right: 1px gray solid;
}

#pp{
    cursor:pointer;
}

.icone{
    width: 60px;
    height: 60px;
}

.hide{
    display: none !important;
}

.galerie{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.galerie img{
    width: 45vw;
    margin: 2px;
    height: auto;
    border: 2px gray solid;
    cursor: pointer;
    filter:brightness(90%);
}

.galerie img:hover{
    filter:brightness(120%);
}

.inventaire, .personnalité, .background, .notes{
    width: 80%;
    height: 100px;
}

/* JDR Univers */

.race{
    display: block;
    padding: 10px 0px;
    width: 100%;
}
.race h4{
    border-top: 1px gray dashed;
    text-decoration: underline;
    font-size: 17px;
    margin-bottom: 2px;
}
.race img{
    width: 200px;
    height: 200px;
}
.classeslist div{
    border: 1px gray solid;
    margin: 1px;
    width: 9vw;
    display: inline-block;
}

.classeslist div:hover{
    background-color: rgba(96, 69, 216, 0.2) ;
}
.classeslist div p{
    text-align: center;
    padding : 2px;
}
.classeslist div img{
    display: block;
    margin: auto;
}

.skillslist, .equipements{
    display:flex;
    flex-direction: column;
}
.skillslist div, .equipements div{
    border: 1px gray solid;
    margin : 10px;
    margin-left: 2px;
    display: grid;
    width: 100%;
    grid-template-areas: "nom nom eff ico"  "mon mon mon ico" "desc desc desc desc";
    background-color: transparent;
}
.equipements p{
    margin: 2px;
}
.highlight{
    background-color: rgba(96, 69, 216, 0.5) !important;
}
/*
.skillslist div img{
    float:right;
}
*/
.skill > .desc, .equipements div > .desc{
    grid-area: desc;
}

/* JDR Master */
.combat{  
    display: grid;
    width: 100%;
    grid-template-columns: 32vw 32vw 32vw;
}
.infoEnnemi{
    border: 2px black solid;
    margin: 5px;
}
.infoEnnemi .commentaire{
    width: 85%;
}
.infoEnnemi input[type="number"]{
    width: 30px;
}
.infoEnnemi .buff, .infoEnnemi .debuff{
    width: 70%;
    margin: 5px;
}
.adding{
    display: flex;
    justify-content: space-around;
}
.adding h4{
    margin-bottom: 8px;
}
#currentMusic{
    display: block;
    margin: 0px;
    width: 54vw;
}
.musique{
    max-width: 525px;
    height: 95px;
    overflow-y: auto;
    width: 54vw;
    border: 1px black solid;
    margin: 2px;
}
.musique div{
    display: flex;
    height: 47px;
}
.musique div audio{
    height: 40px;
}
.musique div p{
    margin: auto;
    max-width: 21vw;
}

/* Toast Notification */
#toast {
    min-width: 250px;
    margin:auto;
    background-color: hsla(43, 84%, 54%, 0.92);
    border : 2px gray solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    z-index: 10;
    
    user-select: none; /* all */
    cursor:pointer;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  
    bottom: -60px;
    font-size: 17px;
    transition: bottom 1s;
    transition-timing-function: ease-in-out;
}
#toast:hover{
filter: hue-rotate(-60deg);
}
#toast.show {
bottom: 40px;
}

@media (max-width: 700px) {
  .classeslist div{
    width: 22vw;
  }
  .classeslist div p{
    margin: auto;
  }
}