body {
  cursor: url("images/layout/cursor.png"), auto;
  margin: 1%;
  width: 99%;
  overflow-x: hidden;
}

ul {
  list-style-image: url("./images/Listbullet.png");
}
select {
  max-height: 26px;
  cursor: url("images/layout/cursor-hover.png"), auto;
}
button {
  cursor: url("images/layout/cursor-x.png"), auto;
}

input[type="text"],
input[type="number"],
textarea {
  background-color: #333;
  color: wheat;
  border: 2px rgb(190, 190, 190, 0.3) solid;
  margin: 2px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.flexContainer {
  display: flex;
  width: 100%;
}

::-webkit-scrollbar {
  width: 22px;
  height: 22px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background-image: url("images/scrollPicture.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  height: 50px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px darkslategrey;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px darkslategrey;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px grey;
  opacity: 1;
}

h2 {
  margin-top: 8px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 1%;
  padding: 4px;
  /*width: 95%;*/
  border: 2px black solid;
  min-width: 300px;
  /* 12/06 Improvement : all containers of icons have
    a max-height in order to reduce scrolling in
    the main page, to only scroll in this frame : UX
    Because there are >100 icons to display and we 
    can need to scroll until 3 entire pages  */
  max-height: 475px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container .audioWrapper p {
  font-size: initial;
  font-weight: bold;
  margin: 15px 20px 0px 20px;
  max-width: 270px;
}

#currentMusic .audioWrapper {
  color: darkorange;
  font-size: initial;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.discWrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.disc {
  background-image: url("http://voldre.free.fr/Eden/images/monsters/vassago.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  border: 4px solid rgb(70, 60, 70);
  border-style: solid none solid solid;
  border-radius: 100%;
  display: block;
}

.playing {
  animation: spin 15s linear infinite;
}

.disc div {
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: rgb(36, 35, 35);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  border: 2px solid gray;
  opacity: 0.5;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pictures {
  width: 240px;
  margin: 2px 10px 5px 5px;
}

.icon {
  width: 45px;
  height: 45px;
  margin: 7px;
}

.container p {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 20px 0px 20px;
}

.header3D {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

select {
  max-width: 225px;
}

.select3D {
  position: absolute;
  left: 30%;
  width: 45%;
  font-size: 20px;
  background-color: rgba(40, 40, 40, 0.7);
  border: 2px solid rgba(40, 40, 40, 1);
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.select3D select {
  max-width: 175px;
}
.select3D select:focus {
  border: 2px blue solid;
}

#loading {
  position: fixed;
  left: 40%;
  top: 16.5%;
}
#iconPic {
  position: fixed;
  left: 25%;
}

.loadingframe,
.ldBar {
  position: absolute;
  width: fit-content;
  top: 0px;
}

#alpaga,
#girl {
  display: none;
  z-index: 3;
  position: relative;
  top: 50px;
  left: -230px;
  object-fit: cover;
  height: 60px;
  object-position: 0% 0;
}

#girl {
  left: 227px;
}

.loading-container {
  position: relative;
  justify-content: center;
  width: 99%;
  display: flex;
  text-align: center;
}

a {
  color: rgb(246, 196, 104);
  text-decoration: none;
}
.dbMenu {
  text-align: center;
}
.dbMenu ul {
  padding-left: 5px;
  margin: 4px;
}
.dbMenu li {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  max-width: 250px;
  min-width: 250px;
  margin: 17px;
  border: none;
  border-radius: 2px;
  color: wheat;
  background-image: url("images/layout/layout_background.png");
  background-size: cover;
}

li img,
.iconImg {
  vertical-align: middle;
  margin: 5px;
  margin-top: 11px;
  display: inline;
  width: 50px;
  height: 50px;
}

.tinyIcon {
  vertical-align: top;
  width: 26px;
  height: 26px;
  margin: 1px;
}

.mapIcon {
  opacity: 0.75;
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -5px;
}

.mapIcon:hover {
  opacity: 1;
}
.container ul .mapMenu {
  font-size: 16px;
  margin: 7px;
  padding: 8px;
  color: white;
  font-weight: 400;
  background: linear-gradient(to right, rgba(64, 64, 92, 0.61), rgba(141, 95, 141, 0.733));
  cursor: pointer;
  cursor: url("images/layout/cursor-hover.png"), auto;
  width: 66%;
}
.activate {
  background: linear-gradient(to right, rgba(111, 111, 243, 0.61), rgba(236, 133, 236, 0.733)) !important;
}
.pushed {
  background: orange;
}
.active {
  display: block !important;
}
.hide {
  display: none !important;
}

.YVES {
  position: absolute;
  left: 39%;
  width: 30px;
  height: 30px;
}
.YVES:hover {
  background-image: url("images/otherIcon/function027.png");
}

#worldmapContainer {
  padding: 0px;
}

.continent {
  min-width: 660px;
  text-align: center;
  position: relative;
  display: none;
}

.point {
  position: absolute;
  width: 34px;
  height: 42px;
  border: none;
  background-image: url("images/mapIcon_1B.png");
}
.point:hover {
  background-image: url("images/mapIcon_2B.png");
  cursor: url("images/layout/cursor_tp.png"), auto;
}

.noB {
  background-image: url("images/mapIcon_1.png") !important;
}
.noB:hover {
  background-image: url("images/mapIcon_2.png") !important;
}

.point:hover .name {
  display: block;
}

.point .name {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  display: none;
  background-image: none;
  background-color: rgba(40, 40, 40, 1);
  border: 2px grey solid;
  min-width: 80px;
  max-width: 250px;
  font-size: 16px;
  font-weight: normal;
  margin: 1px;
  color: wheat;
  user-select: none;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 34px;
  margin-left: 5px;
  margin-right: 3px;
}
#iconBG {
  background-image: url("images/layout/iconBG.png");
}
#iconBGM {
  background-image: url("images/layout/iconBGM.png");
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  cursor: url("images/layout/cursor-hover.png"), auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #f39f21;
}

input:checked + .slider {
  background-color: rgba(40, 40, 40, 0.7);
  border: 1px solid black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  width: 37px;
}

/* 11/06/22 Ajout du menu */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none;
  padding: 0px;
  margin-left: -15px;
  font-weight: bold;
}

.menu li {
  width: 125px;
  height: 45px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  display: inline-block;
  position: relative;
  color: rgb(246, 196, 104);
  text-decoration: none;
}
.menu li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(111, 111, 243, 0.61), rgba(236, 133, 236, 0.733));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Grid to make UI in 3D view for mobile */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  display: none;
  background-image: url("images/layout/0937346-dark2.png");
  background-size: cover;
  /*opacity: 0.8;*/
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  text-align: center;
}

.grid-item img {
  height: 50px;
  width: 50px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#canvasPosition {
  min-height: 175px;
}

/* Hover elements for display a new image on mouseover (universe > maps) */
.hover-animation {
  position: sticky;
  width: 240px;
  height: 240px;
}

.hover-animation img {
  position: absolute;
  display: block;
  transition: opacity 1s ease-in-out;
}

.hover-animation img.image-front:hover {
  opacity: 0;
  cursor: pointer;
  cursor: url("images/layout/cursor-hover.png"), auto;
}

.img-block {
  margin: 0.5%;
}
.image-back {
  display: none;
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.revertFlexContainer {
  display: block;
  justify-content: center;
  gap: 1rem;
}

.flexContainer iframe {
  aspect-ratio: 16/9;
  margin: 1%;
  width: 40%;
}

/* 15/06/2022 Interaction Indicator for improve UX : 
Brightness on mouseover and onclick */

.dbMenu li:hover,
.grid-item img:hover,
.switch:hover {
  filter: brightness(120%);
}
.dbMenu li:active,
.grid-item img:active {
  filter: brightness(80%);
}

@media only screen and (max-width: 700px) {
  .icon {
    width: 32px;
    height: 32px;
    margin: 4px;
  }

  p {
    font-size: 14.5px;
  }
  h2 {
    font-size: 18.5px;
  }

  .dbMenu li {
    font-size: 16.5px;
  }
  .notInMobile,
  .commandes,
  #google_translate_element {
    display: none;
  }
  .grid-container {
    display: grid;
  }
  .menu {
    /* In mobile view, 3*2 Grid */
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .flexContainer {
    display: block;
  }

  .revertFlexContainer {
    display: flex;
  }

  .discWrapper {
    flex-direction: column;
    margin: auto;
  }

  #currentMusic .audioWrapper {
    flex-direction: column;
    gap: 0;
  }

  .select3D {
    width: 95%;
    left: 30%;
  }
  .container ul .mapMenu {
    min-width: auto;
  }
}
